* {
    box-sizing: border-box;
}

body {
    background-color: rgb(227, 227, 227);
    padding: 2rem;
    height: 100vh;
}

main {
    max-width: 768px;
}

.bg-main {
    background-color: rgb(227, 227, 227) !important;
}

.menu-width {
    width: 222px;
}
